$color-black: #333A40;
$color-white: #FFFFFF;
$color-gray: #E6E6E6;
$color-yellow: #FFDB00;
$colot-orange: #F2BB52;

$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1100px
) !default;